Create a dataframe from a dictionary where the keys are the names of countries, the values are the gdp and indices are last 10 years. Now try to find the average gdp combined for all countries over past 10 years.

In [8]:
import numpy as np
import pandas as pd
name =  ["US","China","Japan","Germany","India","UK","France","Brazil","Italy","Canada"]
gdp = {country : [np.random.randint(100,1000) for _ in range(10)] for country in name}

In [10]:
gdp

{'US': [113, 174, 857, 522, 574, 885, 604, 947, 624, 942],
 'China': [716, 205, 196, 284, 457, 403, 986, 335, 149, 542],
 'Japan': [802, 599, 951, 498, 115, 333, 601, 875, 678, 803],
 'Germany': [623, 467, 996, 192, 930, 145, 309, 750, 362, 753],
 'India': [268, 766, 640, 915, 161, 533, 851, 489, 345, 812],
 'UK': [341, 914, 353, 730, 507, 430, 938, 758, 929, 288],
 'France': [985, 318, 877, 439, 943, 789, 656, 549, 587, 463],
 'Brazil': [134, 181, 324, 714, 400, 845, 741, 415, 967, 304],
 'Italy': [718, 842, 920, 613, 221, 840, 339, 728, 935, 408],
 'Canada': [498, 995, 713, 438, 850, 543, 418, 933, 669, 971]}

In [11]:
dataframe = pd.DataFrame(gdp, index= range(2012,2022))

In [12]:
dataframe

       US  China  Japan  Germany  India   UK  France  Brazil  Italy  Canada
2012  113    716    802      623    268  341     985     134    718     498
2013  174    205    599      467    766  914     318     181    842     995
2014  857    196    951      996    640  353     877     324    920     713
2015  522    284    498      192    915  730     439     714    613     438
2016  574    457    115      930    161  507     943     400    221     850
2017  885    403    333      145    533  430     789     845    840     543
2018  604    986    601      309    851  938     656     741    339     418
2019  947    335    875      750    489  758     549     415    728     933
2020  624    149    678      362    345  929     587     967    935     669
2021  942    542    803      753    812  288     463     304    408     971

In [23]:
 d = dataframe.mean()
d

US         624.2
China      427.3
Japan      625.5
Germany    552.7
India      578.0
UK         618.8
France     660.6
Brazil     502.5
Italy      656.4
Canada     702.8
dtype: float64

In [24]:
d.mean()

594.8799999999999