Exercise 1: Create a DataFrame that looks like this:

In [25]:
import numpy as np
import pandas as pd
name = { 'Apples' : 30,
        'Bananas' : 21
}
name

{'Apples': 30, 'Bananas': 21}

In [31]:
dataframe= pd.DataFrame(name, index = [0])
dataframe

   Apples  Bananas
0      30       21

In [ ]:
Exercise 2: Create the following DataFrame:

<class 'SyntaxError'>: invalid syntax (<ipython-input-40-23a452fc8438>, line 1)

In [32]:
name = { 'Apples' : [35,32],
        'Bananas' : [41,34]
}
name

{'Apples': [35, 32], 'Bananas': [41, 34]}

In [33]:
dataframe = pd.DataFrame(name, index =['2017 Sales', '2018 Sales'])
dataframe

            Apples  Bananas
2017 Sales      35       41
2018 Sales      32       34

**Exercise 3**: Create a `Series` that looks like this:

```
Flour     4 cups
Milk       1 cup
Eggs     2 large
Spam       1 can
Name: Dinner, dtype: object
```

In [45]:
series = pd.Series(['4cups','1 cup', '2 large', '2 can','Dinner'], index = ['Flour','Milk','Eggs','spam','Name'])

series

Flour      4cups
Milk       1 cup
Eggs     2 large
spam       2 can
Name      Dinner
dtype: object

Exercise 4 : Check the outcome of this command

pd.DataFrame([{'a': 1, 'b': 2}, {'b': 3, 'c': 4}])

In [38]:
pd.DataFrame([{'a': 1, 'b': 2}, {'b': 3, 'c': 4}])

     a  b    c
0  1.0  2  NaN
1  NaN  3  4.0

Exercise 5 : Check the outcome of this command

 import pandas as pd
data = pd.Series([0.25,0.50,0.75,1],index=['a','b','c','d'])
'a' in data

In [39]:
data = pd.Series([0.25,0.50,0.75,1],index=['a','b','c','d'])
'a' in data

True